/*.octodex {
  width: 100%;
}*/
.octocat {
  float: left;
  position: relative;
  margin-left: 15px;
  border-bottom: 2px solid #D9D9D9;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

 .octocat img{
  width: 325px;
  border: 1px solid #D9D9D9;


}

.octocat a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

 ul {
  list-style-type: none;
  display: inline-block;
}

.image-caption {
  font-size: 12px;
  padding-top: 5px;
  float: right;
  /*border-style: inset;
  width: 0;
height: 0;
border-style: solid;
border-width: 8.7px 5px 0 5px;
border-color: #8a8a8a transparent transparent transparent;*/
}

.image-caption span {
  color: #808080;
  font-weight: bold;
}

.authors {
  float: right;
  margin-top: 0;
  padding-left: 0;
}

.authors img{
  width: 20px;
  border-radius: 5px;
}

.image-number {
  position: absolute;
  bottom: 12px;
  color: #D9D9D9;
  font-weight: bold;
}

.image-number::before  {
  content: "#";
}
